name: linux 

on:
  pull_request:
    branches: [ master ]
  # Allows to run this workflow manually from the Actions tab
  workflow_dispatch:
  
jobs:
  linux-regression-tempestremap:
    runs-on: ubuntu-latest
    timeout-minutes: 60

    steps:         
      - uses: actions/checkout@v2
      - name: Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install libtool
          sudo apt-get install libblas-dev 
          sudo apt-get install liblapack-dev
          sudo apt-get install libnetcdf-dev
          python -m pip install --upgrade pip
          pip install numpy pandas 
            
      - name: Build TempestRemap
        run: |
          pwd
          ls
          cd /home/runner/work/tempestremap/tempestremap
          # build tempestremap
          autoreconf -fi
          ./configure --prefix=/home/runner/tempestremap 
          make -j

      - name: Run regression tests
        run: |
          pwd
          cd /home/runner/work/tempestremap/tempestremap
          # Run TempestRemap Regression Tests
          cd regression_tests
          python regression_tests.py -p /home/runner/work/tempestremap/bin/ -n 4
          
